/* General Styles */
body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

canvas {
  display: block;
  margin: 20px auto;
  border: 4px solid #343a40;
  border-radius: 50%;
}

#betButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.betButton {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #28a745;
  border-radius: 5px;
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.betButton:hover {
  background-color: #218838;
  border-color: #218838;
}

#betAmount {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #007bff;
  border-radius: 5px;
  text-align: center;
  outline: none;
  transition: border-color 0.3s;
}

#betAmount:focus {
  border-color: #0056b3;
}

#enableButton {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

#enableButton:hover {
  background-color: #0056b3;
}

#credit {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  color: #6c757d;
  font-weight: bold;
  border: 2px solid #6c757d;
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#timers {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

#betTimer, #gameTimer {
  font-size: 24px;
  font-weight: bold;
}

#betTimer {
  color: #218838;
}

#gameTimer {
  color: #c82333;
}

#result {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
}

#results {
  margin-top: 20px;
}

#resultsList {
  list-style-type: none;
  padding: 0;
}

#resultsList li {
  margin-bottom: 5px;
  font-size: 14px;
  color: #6c757d;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
  .container {
    max-width: 100%;
    border-radius: 0;
    box-shadow: none;
    padding: 10px;
  }

  canvas {
    margin-top: 10px;
  }

  .betButton {
    font-size: 14px;
  }

  #betAmount {
    font-size: 14px;
  }

  #enableButton {
    font-size: 14px;
  }

  #credit {
    font-size: 16px;
  }

  #betTimer, #gameTimer {
    font-size: 18px;
  }

  #result {
    font-size: 16px;
  }

  #resultsList li {
    font-size: 12px;
  }
}
